alabaster==0.7.16
asttokens==2.4.1
Babel==2.15.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
commonmark==0.9.1
decorator==5.1.1
dimcli==1.2
docutils==0.21.2
executing==2.0.1
idna==3.7
imagesize==1.4.1
ipython==8.25.0
jedi==0.19.1
Jinja2==3.1.4
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
numpy==2.0.0
packaging==24.1
pandas==2.2.2
parso==0.8.4
prompt_toolkit==3.0.47
pure-eval==0.2.2
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
recommonmark==0.7.1
requests==2.32.3
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.3.7
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
stack-data==0.6.3
tqdm==4.66.4
traitlets==5.14.3
tzdata==2024.1
urllib3==2.2.2
wcwidth==0.2.13
